<%# Append the new task to the bottom of its column %>
<%= turbo_stream.append "column-#{@task.column_id}" do %>
  <%= render "boards/task_card", task: @task %>
<% end %>

<%# Close the modal by replacing the frame with empty content %>
<%= turbo_stream.update "new_task_modal", "" %>

<%# Update the column count %>
<% column_count = @board.tasks.where(column_id: @task.column_id).count %>
<%= turbo_stream.replace "column-#{@task.column_id}-count" do %>
  <span id="column-<%= @task.column_id %>-count" style="font-size:11px;font-weight:600;color:#444;background:rgba(255,255,255,0.04);padding:0 7px;border-radius:5px;line-height:20px"><%= column_count %></span>
<% end %>
