<% if @task.saved_change_to_column_id? %>
  <%# Column changed - move card to new column %>
  <% old_column_id, new_column_id = @task.saved_change_to_column_id %>

  <%# Remove from old column %>
  <%= turbo_stream.remove "task_#{@task.id}" %>

  <%# Add to new column %>
  <%= turbo_stream.prepend "column-#{new_column_id}" do %>
    <%= render "boards/task_card", task: @task %>
  <% end %>

  <%# Update old column count %>
  <% if old_column_id %>
    <% old_count = @board.tasks.where(column_id: old_column_id).count %>
    <%= turbo_stream.replace "column-#{old_column_id}-count" do %>
      <span id="column-<%= old_column_id %>-count" style="font-size:11px;font-weight:600;color:#444;background:rgba(255,255,255,0.04);padding:0 7px;border-radius:5px;line-height:20px"><%= old_count %></span>
    <% end %>
  <% end %>

  <%# Update new column count %>
  <% new_count = @board.tasks.where(column_id: new_column_id).count %>
  <%= turbo_stream.replace "column-#{new_column_id}-count" do %>
    <span id="column-<%= new_column_id %>-count" style="font-size:11px;font-weight:600;color:#444;background:rgba(255,255,255,0.04);padding:0 7px;border-radius:5px;line-height:20px"><%= new_count %></span>
  <% end %>
<% else %>
  <%# Column didn't change - just update the card in place %>
  <%= turbo_stream.replace "task_#{@task.id}" do %>
    <%= render "boards/task_card", task: @task %>
  <% end %>
<% end %>

<%# Update the activity section in the panel %>
<%= turbo_stream.replace "task-activities-#{@task.id}" do %>
  <%= render "shared/task_activities", task: @task %>
<% end %>
